@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$pink100: #f77788;
$pink200: #f03e56;
$blue100: #0ab2f0;
$blue200: #5386e4;

$banner-font: "Press Start 2P", cursive;
$body-font: "Roboto", sans-serif;
